div.main {
	margin-top: 5%;
	margin-left: 10%;
	width: 70%;
	font-family: sans;
}

div.board {
	margin-top: 25px;
	margin-left: 10%;
}

div.score {
	font-size: 14pt;
	font-weight: bold;
	margin-bottom: 15px;
}

.score.off {
	display: none;
}

.menu span {
	margin-right: 5px;
	padding: 2px;
	color: Navy;
	text-decoration: none;
}

.menu span:hover {
	border: 1px solid Navy;
}

.menu .active {
	color: white;
	background: Navy;
}

.row {
	margin-top: 10px;
}

.panel {
	margin-right: 5px;
	padding: 4px;
	font-family: monospace;
	font-size: 14pt;
}

.board .isPicked {
	color: white;
	background: black;
}

.result .panel.isPicked.isWord {
	color: white;
	background: green;
	border: none;
}

.result .panel.isPicked {
	color: white;
	background: red;
	border: none;
}

.result .panel.isWord {
	color: red;
	border: 1px solid red;
}

.result .panel {
	color: green;
	border: 1px solid green;
}

.footer {
	margin-top: 25px;
	font-weight: bold;
	font-size: 14pt;
}

.footer span {
	margin-left: 5px;
	margin-right: 5px;
}
